@import '../../style/style.scss';

.layoutTalents{
    @include desk {
        width: 100%;
        height: 100%;
        background-color: $gray;
        display: flex;
        flex-direction: column;
        position: absolute;

    }
    &__navbar{
        @include desk {
            margin: 1rem;
            width: 210px;
            height: 180px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            // clip-path: polygon(0% 0%, 54.7% 1.3%, 100% 15%, 100% 100%, 0% 100%);
            border-radius: 10px;
            justify-content: center;
            align-items: center;
        }
    }  
    
}