@import '../../style/style.scss';

.talents {
    @include desk {
        width: 100%;
        height: 100%;
        background-color: $gray;
        display: flex;
        position: absolute;

    }

    &__container {
        @include desk {
            margin: 1rem;
            width: 18rem;
            height: 28rem;
            background-color: white;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            // clip-path: polygon(0% 0%, 54.7% 1.3%, 100% 15%, 100% 100%, 0% 100%);
            border-radius: 10px;

        }
    }

    &__container-imgTalent {
        @include desk {
            @include styleRound($skyBkue, $skyBkue, $wi115, $he115,
                $white, $s14, $w300,
                $skyBkue, $skyBkue, $gray);
            position: relative;
        }
    }

    &__card-figure {
        @include desk {
            @include styleRound($white, $skyBkue, $wi105, $he105,
                $white, $s14, $w300,
                $white, $skyBkue, $gray);

            img {
                width: 100%;
                height: 100%;
                border-radius: 5rem;
            }
        }
    }

    &__container-info {
        @include desk {
            width: 14rem;
            height: 3rem;
            display: flex;
            gap: 8px;
            margin-bottom: 5px;
            align-items: center;
            display: flex;
        }
    }

    &__container-state {
        @include desk {
            display: flex;
            flex-direction: column;
            gap: 3px;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__container-levelEnglish {
        @include desk {
            display: flex;
            gap: 5px;
        }
    }

    &__buttons-state {
        @include desk {
            @include styleSquare($yellow, $yellow, $wi75, $he25,
                $gray, $s12, $w400,
                $white, $gray, $gray);
        }
    }

    &__line {
        @include desk {
            width: 3px;
            height: 55px;
            background-color: $grayLight;
        }
    }

    &__container-infoPnal {
        @include desk {
            display: flex;
            flex-direction: column;
        }

    }

    &__name {
        @include desk {
            @include text ($fontMontserrat, $w400, $s12, $gray);
        }
    }

    &__lastName {
        @include desk {
            margin-bottom: 5px;
            @include text ($fontMontserrat, $w400, $s12, $gray);
        }
    }

    &__know {
        @include desk {
            @include text ($fontMontserrat , $w400, $s12, $grayLight);
        }
    }

    &__seccion-info {
        @include desk {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
    }

    &__container-links {
        @include desk {
            position: absolute;
            
        }
    }

    &__button-link {
        @include desk {
                       
            @include styleOval($skyBkue, $skyBkue, $wi230, $he35,
                $gray, $s14, $w300,
                $skyBkue, $skyBkue, $white);
        }
    }
    &__figure-icons-gitUp{
        @include desk {
            width: 23px;
            height: auto;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__figure-icons-linkedin{
        @include desk {
            width: 20px;
            height: auto;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__figure-icons-video{
        @include desk {
            width: 30px;
            height: auto;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    &__container-infoCustom {
        @include desk {
            margin-top: 18px;
            width: 280px;
            height: auto;
            background-color: $gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
        }
    }

    &__container-infoContacts {
        @include desk {

            width: auto;
            margin-top: 25px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

    }

    &__container-mail {
        @include desk {
            display: flex;
            width: 180px;
            gap: 5px;
            align-items: center;
        }
    }

    &__iconMail {
        @include desk {
            width: 20px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__iconPhone {
        @include desk {
            width: 13px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__infoContact {
        @include desk {
            @include text ($fontNunito, $w400, $s12, $white);
        }
    }

    &__container-programs {
        @include desk {
            width: 260px;
            height: 55px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-bottom: 10px;
            overflow-y: auto;
        }
    }

    &__programs {
        @include desk {
            @include span($wiAuto, $he25, $trasparent, $white,
                $fontNunito, $w300, $s10, $white);
        }
    }

    &__button-seeMore {
        @include desk {
            @include styleOval($skyBkue, $skyBkue, $wi65, $he20,
                $gray, $s12, $w300,
                $yellow, $yellow, $white);
        }
    }

    &__container-profile {
        @include desk {
            padding-top: 8px;
            margin-bottom: 5px;
            width: 260px;
            height: 70px;
            overflow-y: auto;
            display: flex;
        }
    }

    &__profile {
        @include desk {
            @include text ($fontNunito, $w300, $s11, $white);
        }
    }

    &__container-custom {
        @include desk {
            padding: 5px;
            margin-bottom: 5px;
            width: 250px;
            height: 30px;
            overflow-y: auto;
            display: flex;
            gap: 15px;
            justify-content: center;
        }
    }

    &__button-custom {
        @include desk {
            @include styleOval($skyBkue, $skyBkue, $wiAuto, $he20,
                $gray, $s12, $w300,
                $yellow, $yellow, $white);
        }
    }

}