@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Raleway&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&family=Roboto:wght@300&family=Rubik&display=swap');

/*  COLORS */
$white: #FFFFFF;
$blue: #03203A;
$softblue: #13274D;
$gray: #252935;
$grayLight: #707994;
$skyBkue: #25ABBC;
$black: #000000;
$yellow: #EEE420;
$trasparent: transparent;


/*  FOONTS */
$fontMontserrat: 'montserrat', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontNunito: 'Nunito', sans-serif;
$fontRaleway: 'Raleway', sans-serif;


/*  FONT- WEIGHT */
$w600: 600;
$w500: 500;
$w400: 400;
$w300: 300;

/*  FONT- SIZE */
$s10: 10px;
$s11: 11px;
$s12: 12px;
$s14: 14px;
$s16: 16px;
$s18: 18px;
$s20: 20px;
$s22: 22px;
$s24: 24px;
$s26: 26px; 
$s28: 28px;
$s30: 30px; 

/*  LINE - SIZE */
$l28: 28px; 
$l23: 23px;
$l16: 16px;
$l12: 12px;

/* WIDTH */
$wi35: 35px;
$wi45: 45px;
$wi55: 55px;
$wi65: 65px;
$wi75: 75px;
$wi85: 85px;
$wi85: 85px;
$wi95: 95px;
$wi105: 105px;
$wi110: 110px;
$wi115: 115px;
$wi125: 125px;
$wi135: 135px;
$wi145: 145px;
$wi150: 150px;
$wi200: 200px;
$wi230: 230px;
$wi250: 250px;
$wi280: 260px;
$wi280: 270px;
$wi280: 280px;
$wi300: 300px;
$wi350: 350px;
$wiAuto: auto;

/* HEIGTH*/
$he10: 10px;
$he15: 15px;
$he20: 20px;
$he25: 25px;
$he30: 30px;
$he35: 35px;
$he45: 45px;
$he55: 55px;
$he65: 65px;
$he75: 75px;
$he85: 85px;
$he95: 95px;
$he105: 105px;
$he110: 110px;
$he115: 115px;
$he125: 125px;
$he135: 135px;
$he220: 220px;
$heAuto: auto;
