@import "./style.scss";

.jobtalent {
  @include desk {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  &__container {
    @include desk {
      margin: 1rem;
      width: 30rem;
      height: 40rem;
      background-color: white;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      border-radius: 10px;
    }
  }

  &__container-infojob {
    @include desk {
      margin-top: 13px;
      width: 90%;
      height: auto;
      background-color: $gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      
    }
  }

  &__container-imgTalent {
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  &__card-figure {
    @include desk {
      @include styleRound(
        $white,
        $skyBkue,
        $wi85,
        $he85,
        $white,
        $s14,
        $w300,
        $white,
        $skyBkue,
        $gray
      );
      img {
        width: 100%;
        height: 100%;
        border-radius: 5rem;
      }
    }
  }

  &__line {
    @include desk {
      width: 3px;
      height: 90px;
      background-color: $grayLight;
    }
  }

  &__container-infoPnal {
    @include desk {
      display: flex;
      flex-direction: column;
    }
  }

  &__name {
    @include desk {
      @include text($fontMontserrat, $w400, $s16, $white);
    }
  }

  &__lastName {
    @include desk {
      margin-bottom: 5px;
      @include text($fontMontserrat, $w400, $s16, $white);
    }
  }

  &__know {
    @include desk {
      @include text($fontMontserrat, $w400, $s14, $white);
    }
  }

  &__button-title {
    margin-bottom: 20px;
    display: flex;
  }
  &__container-costumer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    margin-top: 27px;
    gap: 10px;
    padding: 30px;
    background-color: $skyBkue;
    border-radius: 9px;
    margin-bottom: 10px;
    max-height: 300px; /* ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
  }
  &__button-status {
    background-color: $gray;
    padding: 10px;
    color: $white;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
  }

  &__button-changeStatus {
    background-color: $white;
    padding: 10px;
    color: $gray;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
  } 
  


  &__button-costumer {
    margin-bottom: 30px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 7px;
    align-items: center;
    background-color: $yellow;    
  }



  &__button-otherjobs {
    margin-bottom: 10px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    align-items: center;
    border-radius: 7px;
    background-color: $yellow;
    z-index: 1;
  }

  &__container-other {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    margin-top: -27px;
    gap: 10px;
    // padding: 18px;
    background-color: $skyBkue;
    border-radius: 9px;
    margin-bottom: 10px;
    
    form{
        display: flex;
        gap: 9px;
        padding: 20px;
        align-items: center;
    }
    
  }

  &__button-other {
    background-color: $white;
    padding: 15px;
    color: $gray;
    border-radius: 5px;
    width: 80%;
    margin-top: 5px;
  }
  &__button-aceptar{
    @include desk {
        @include styleOval(
          $yellow,
          $yellow,
          $wi95,
          $he35,
          $gray,
          $s12,
          $w300,
          $yellow,
          $yellow,
          $white
        );
      }
  }
}
