@import './style.scss';


.buttons{
    display: flex;
    justify-content: space-between;
    margin: .85rem;
    margin-top: 3rem;
    text-align: center;
    color:white;
    background: none;
   border: white solid 1px;
   border-radius: 3px;
   font-size: 12px;
   padding: 1px;
    
}

.buttons_principal{
    display: flex;
}

.container_principal{
    display: flex;
    flex-direction: column;
}

.talents {
    


    @include mobile {
        width: 100%;
        height: 100%;
        background-color: $gray;
        display: flex;
        position: absolute;
        margin-left: -30px;
        
        

    }

    &__container {
        @include mobile {
            margin: 2rem;
          margin-top: 4rem;        
            width: 18rem;
            height: 28.5rem;
            background-color: white;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            // clip-path: polygon(0% 0%, 54.7% 1.3%, 100% 15%, 100% 100%, 0% 100%);
            border-radius: 10px;
            
           

        }
        @include tablet {
            margin: 2rem;
          margin-top: 4rem;
            width: 18rem;
            height: 28rem;
            background-color: white;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            // clip-path: polygon(0% 0%, 54.7% 1.3%, 100% 15%, 100% 100%, 0% 100%);
            border-radius: 10px;

        }

    }

    &__container-imgTalent {
        @include mobile {
            @include styleRound($skyBkue, $skyBkue, $wi115, $heAuto,
                $white, $s14, $w300,
                $skyBkue, $skyBkue, $gray);
            position: relative;
        }
    }

    &__container-search{
        @include mobile {
            @include styleRound($skyBkue, $skyBkue, $wi115, $heAuto,
                $white, $s14, $w300,
                $skyBkue, $skyBkue, $gray);
            position: relative;
            margin-left: 75px;
        }
    }

    &__card-figure {
        @include mobile {
            @include styleRound($white, $skyBkue, $wi105, $he105,
                $white, $s14, $w300,
                $white, $skyBkue, $gray);

            img {
                width: 100%;
                height: 100%;
                border-radius: 5rem;
            }
        }
    }
    

    &__container-info {
        @include mobile {
            width: 14rem;
            height: 3rem;
            display: flex;
            gap: 8px;
            margin-bottom: 5px;
            align-items: center;
            display: flex;
        }
    }

    &__container-info-search{
        @include mobile {
            width: 14rem;
            height: 3rem;
            display: flex;
            gap: 10px;
            margin-bottom: 5px;
            align-items: center;
            display: flex;
            margin-left: 20px;
        }

    }

    &__container-state {
        @include mobile {
            display: flex;
            flex-direction: column;
            gap: 3px;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__container-levelEnglish {
        @include mobile {
            display: flex;
            gap: 5px;
        }
    }

    &__buttons-state {
        @include mobile {
            @include styleSquare($yellow, $yellow, $wi75, $he25,
                $gray, $s12, $w400,
                $white, $gray, $gray);
        }
    }

    &__line {
        @include mobile {
            width: 3px;
            height: 55px;
            background-color: $grayLight;
        }
    }

    &__container-infoPnal {
        @include mobile {
            display: flex;
            flex-direction: column;
           
        }

    }

    &__name {
        @include mobile {
            @include text ($fontMontserrat, $w400, $s12, $gray);
        }
    }

    &__lastName {
        @include mobile {
            margin-bottom: 5px;
            @include text ($fontMontserrat, $w400, $s12, $gray);
        }
    }

    &__know {
        @include mobile {
            @include text ($fontMontserrat , $w400, $s12, $grayLight);
        }
    }

    &__seccion-info {
        @include mobile {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-left: 40px;
        }
    }

    &__container-links {
        @include mobile {
            position: absolute;
            
        }
    }

    &__button-link {
        @include mobile {
            @include styleOval($skyBkue, $skyBkue, $wi230, $he25,
                $gray, $s14, $w300,
                $skyBkue, $skyBkue, $white);
        }
    }
    &__figure-icons-gitUp{
        @include desk {
            width: 23px;
            height: auto;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__figure-icons-linkedin{
        @include desk {
            width: 20px;
            height: auto;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__figure-icons-video{
        @include desk {
            width: 30px;
            height: auto;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    &__container-infoCustom {
        @include mobile {
            margin-top: 13px;
            width: 280px;
            height: auto;
            background-color: $gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
        }
    }

    &__container-infoContacts {
        @include mobile {

            width: auto;
            margin-top: 25px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

    }

    &__container-mail {
        @include mobile {
            display: flex;
            width: 180px;
            gap: 5px;
            align-items: center;
        }
    }

    &__iconMail {
        @include mobile {
            width: 20px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__iconPhone {
        @include mobile {
            width: 20px;
            height: 20px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__infoContact {
        @include mobile {
            @include text ($fontNunito, $w400, $s12, $white);
        }
    }

    &__container-programs {
        @include mobile {
            width: 260px;
            height: 55px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-bottom: 10px;
            overflow-y: auto;
        }
    }

    &__programs {
        @include mobile {
            @include span($wiAuto, $he25, $trasparent, $white,
                $fontNunito, $w300, $s10, $white);
        }
    }

    &__button-seeMore {
        @include mobile {
            @include styleOval($skyBkue, $skyBkue, $wi65, $he20,
                $gray, $s12, $w300,
                $yellow, $yellow, $white);
        }
    }

    &__container-profile {
        @include mobile {
            padding-top: 8px;
            margin-bottom: 5px;
            width: 260px;
            height: 70px;
            overflow-y: auto;
            display: flex;
        }
    }

    &__profile {
        @include mobile {
            @include text ($fontNunito, $w300, $s11, $white);
        }
    }

    &__container-custom {
        @include mobile {
            padding: 5px;
            margin-bottom: 5px;
            width: 250px;
            height: 30px;
            overflow-y: auto;
            display: flex;
            gap: 15px;
            justify-content: center;
        }
    }

    &__button-custom {
        @include mobile {
            @include styleOval($skyBkue, $skyBkue, $wiAuto, $he20,
                $gray, $s12, $w300,
                $yellow, $yellow, $white);
        }
    }

}



.container_principal_search{
    line-height: 2px;
    display: flex;
    flex-direction: column;
  
  
    
 
}



.talentSearch{
    border:solid #586364 1px;
    border-radius: 4px;
    margin:3rem;
    text-align: center;
    align-items: center;
    padding: 8px;
    margin-top: 350px;
   

    
}

// .talents__container-search{

// }

